<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--
    <add key="DefaultArgs" value="-t"/>
    <add key="DefaultArgs" value="/profile Phases /lcg"/>
    <add key="DefaultArgs" value="/profile All /lcg"/>
    <add key="DefaultArgs" value="/profile OpFreq,OpTime /lcg"/>
    <add key="DefaultArgs" value="/mr- /profile=JitTime,ExecuteTime"/>
    <add key="DefaultArgs" value="/mr-"/>
    <add key="DefaultArgs" value="/lc /mr- /cd- /di+" />
    <add key="light-compiler" value="+"/>
    -->
    <add key="exception-dump" value="+"/>
    <add key="stack-dump" value="+"/>
  </appSettings>
  </configuration>
